.git
.github
.venv
venv
env
__pycache__
*.py[cod]
*.egg-info
.eggs
.pytest_cache
.mypy_cache
.ruff_cache
.dmypy.json
dmypy.json
dist
build
htmlcov
.coverage
.coverage.*

.env
.env.*
!.env.example

tests
docs
deployment
scripts

*.md
!README.md

image.png
image-1.png
image-2.png

.DS_Store
*.log
